<div class="container" data-aos="fade-up">
  <div class="row">
    <div class="section-title">
      <h2>About Homeopathy</h2>
      <h4>Homeopathy is based on the principle of 'like cures like' also called the 'law of similar'</h4>
      <p><br></p>
      <div>
        <img class="img-fluid img-thumbnail p-2" src="{{url_for('static', filename='store-front/img/Samuel_Hahnemann_Memorial_WDC.jpg')}}" alt="">
      </div>
      <p>
        <br>
      </p>
      <p>
        Homeopathy, the longest established alternative medicine to come out of Europe, was created in 1796 by Samuel Hahnemann. Hahnemann rejected the mainstream medicine of the late 18th century as irrational and inadvisable because it was largely ineffective and often harmful. He advocated the use of single drugs at lower doses and promoted an immaterial, vitalistic view of how living organisms function. The term homeopathy was coined by Hahnemann and first appeared in print in 1807.He also coined the expression "allopathic medicine", which was used to pejoratively refer to traditional Western medicine.
      </p>
      <p><br></p>
      <p>
        Although the idea that like cures like can be traced back to the Greek physician, Hippocrates (460-377BC), it was Hahnemann who developed it into a system of treatment. Hahnemann spent several years experimenting on himself and a group of volunteers testing a wide range of natural substances, such as plants, minerals and metals. To avoid harmful side effects, he diluted each medicine until he reached the greatest dilution that would still produce a response. These experiments were called provings and are the foundations of homeopathic medicine.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="section-title">
      <h2>The 4 Pillars of Homeopathy</h2>
      <p>
        Classical Homeopathy is based on four tenets of healing that have proven consistent and effective for hundreds of years.
      </p>
    </div>
  </div>
  <div class="row">
    <!-- Description column 1 -->
    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
      <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
        <div class="icon"><i class="fas fa-heartbeat"></i></div>
        <h4 class="title"><a href="">Totality/Individualization</a></h4>
        <p class="description">Unless due to an injury, ailments in the body or mind signal an imbalance in the entire system. Even if localized in one place like a rash or a headache, the homeopath recognizes that this is just one expression of the larger issue. In homeopathy, the remedy recommendation is borne of understanding the holistic nature of the imbalance… which is why our appointments together often last an hour or more, so I can understand you on a level that most healthcare practitioners don't treat. Your headache is different from everyone else's headache.</p>
      </div>
    </div>
    <!-- Description column 2 -->
    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
      <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
        <div class="icon"><i class="fas fa-pills"></i></div>
        <h4 class="title"><a href="">Law of Similars</a></h4>
        <p class="description">
          Most medicines you are familiar with work in the realm of allopathy or antipathy, where the substance fights against the symptoms - antibiotics, antidepressants, antiviral, antidiarrheal. But the big question is, does this fix the underlying condition or just mask the symptoms? Are we actually healing? Have we experienced significant side effects and perhaps worsening health using these products? Homeopathy employs the opposite tactic. Homepaths us substances that are known to elicit symptoms similar (homeo-) to individuals pathology (-pathy). While this may sound counterintuitive, the healing power of similars was recognized as long ago as the time of Hippocrates, and is demonstrated in some of today's widely used therapies.
        </p>
      </div>
    </div>
    <!-- Description column 3 -->
    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
      <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
        <div class="icon"><i class="fas fa-thermometer"></i></div>
        <h4 class="title"><a href="">Minimum Dose</a></h4>
        <p class="description">
          Homeopaths use the absolutely smallest possible dose needed to elicit healing. One might say "Of course, that's pretty obvious." However, homeopathy is unique in that there is literally zero material toxicity in most doses that is recommended. This is because of a process known as potentization. It is the aspect of homeopathy that is most controversial, because there is no scientific consensus regarding how it works. Rest assured though, there is definitive science that it in fact does work. Just because humanity can't explain something well doesn't mean it isn't true. In potentization, remedies are diluted and succussed over and over again. Oddly enough, the more times the remedy is diluted, the stronger the remedy becomes.
        </p>
      </div>
    </div>
    <!-- Description column 4 -->
    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
      <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
        <div class="icon"><i class="fas fa-dna"></i></div>
        <h4 class="title"><a href="">Single Remedy</a></h4>
        <p class="description">
          The final pillar is the single remedy. Sometimes clients are in much discomfort and they don't see why a Homeopath can't recommend them multiple remedies, like an allopathic doctor might write multiple prescriptions for each uncomfortable symptom. The reason is that the one remedy is meant to address individuals entire set of health concerns (known as your symptomatic "state"). It points us back to the first pillar - "totality." There is a single remedy amongst the thousands at our disposal to match ones totality. Often, after someone done some healing, they will have a new totality, one which has different symptoms but is not as sick or as uncomfortable as before, and then he or she will get a different, single remedy. In this way, Homeopaths continue - each remedy brings a person to a new level of health. The goal is to feel so good that the patient have no desire or need for another remedy.
        </p>
      </div>
    </div>
  </div>
</div>