<div class="container" data-aos="fade-up">

  <div class="section-title">
    <h2>Doctors</h2>
    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
  </div>

  <div class="row">

    {% for n in range(1,4) %}
    <div class="col-lg-4 col-md-4 d-flex align-items-stretch">
      <div class="member" data-aos="fade-up" data-aos-delay="100">
        <div class="member-img">
          <img src="{{url_for('static', filename='store-front/img/doctors/doctors-' ~ n|safe ~ '.jpg')}}" class="img-fluid" alt="">
        </div>
        <div class="member-info">
          <h4>Walter White</h4>
          <span>Chief Medical Officer</span>
        </div>
      </div>
    </div>
    {%endfor%}

  </div>

</div>