
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Frequently Asked Questioins</h2>
      <p>'Homeopath' is expert in solving Acute and chronic conditions with care and quality treatment. Scope of Homeopathy for various conditions are listed below:
      </p>
    </div>

    <ul class="faq-list">

      <li>
        <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">
          Homeopathy for Autism and ADHD
          <i class="bi bi-chevron-down icon-show"></i>
          <i class="bi bi-chevron-up icon-close"></i>
        </div>
        <div id="faq1" class="collapse" data-bs-parent=".faq-list">
          <p>
            Homoeopathy is a relatively newer mode of intervention in the treatment of Autism, and its merits remain shadowed by the general population. Homoeopathy has a long way to go before its well-deserved credentials are complimented by the modern world. All autistic patients should be treated with homeopathy.
            Three main reasons:
          </p>
          <p>
            First, the conventional treatment of psychiatric drugs is meant to calm the patient down, not to cure.
          </p>
          <p>
            Second, Autism is a spectrum. It ranges from mild to severe and, in Dr. Herscu's opinion, is caused by a spread of diseases, some
            neurological, some biochemical, etc. With proper homeopathic treatment, all cases will move in the right direction. It is only a matter of how far. However, he was pretty clear in stating that the degree of Autism didn't seem to correspond to the degree of the cure. In other words, mild cases may receive only partial benefit, whereas some severe cases are greatly suffering from homeopathic treatment.
          </p>
          <p>
            The third reason for choosing homeopathy is that many the other
            therapies, such as diet and nutrition, seem to work much better after
            homeopathic treatment.
          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">
          Homeopathy for general conditions
          <i class="bi bi-chevron-down icon-show"></i>
          <i class="bi bi-chevron-up icon-close"></i>
        </div>
        <div id="faq2" class="collapse" data-bs-parent=".faq-list">
          <p>
            Homeopathy is known to treat various types of chronic and acute complaints. People have experienced the benefits over a wide range of illnesses, such as arthritis, Autism, allergies like coughs, colds, flu, atopic dermatitis, asthma, backache, bald patches, constipation, cramps, diarrhea, digestive problems, epilepsy, ear pain, fevers, gastric problems, headaches, hair fall, infections, irritable bowel syndrome, intestinal complaints, injuries, jaundice, kidney problems, liver problems, lung complaints, menstrual complaints, nerve problems, paralysis, psychological problems like depression and sadness, rheumatoid arthritis, skin problems, toothaches, all types of chronic and acute pain, burns, and much more.
          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">
          Homeopathy for Skin conditions and Allergies
          <i class="bi bi-chevron-down icon-show"></i>
          <i class="bi bi-chevron-up icon-close"></i>
        </div>
        <div id="faq3" class="collapse" data-bs-parent=".faq-list">
          <p>
            Homeopathy has taken the medical world by storm. It effectively eliminates the dermatological problem from your system, providing permanent relief. Homeopathy adopts a holistic approach to treating a disease. It lays great emphasis on identifying and treating the underlying cause. Homeopathic treatment can be a little time-consuming, but the time is worth waiting for. Over the past few decades, homeopathy has been the most sought-after and reliable medication to deal with dermatological problems. Problems as grave as Psoriasis and Herpes can be completely cured, all thanks to the goodness of homeopathy.
          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">
          Homeopathy for Neurological Conditions
          <i class="bi bi-chevron-down icon-show"></i>
          <i class="bi bi-chevron-up icon-close"></i>
        </div>
        <div id="faq4" class="collapse" data-bs-parent=".faq-list">
          <p>
            Homeopathic treatment for the different types of neurological elements aims at providing a deeper cure so that the affected individuals can lead an everyday life as much as possible. In Amrita Homeopathy practice, this is adapted so that the individuals involved with neurological disorders can manage the symptoms effectively.
          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">
          Homeopathy for Rheumatic Conditions
          <i class="bi bi-chevron-down icon-show"></i>
          <i class="bi bi-chevron-up icon-close"></i>
        </div>
        <div id="faq5" class="collapse" data-bs-parent=".faq-list">
          <p>
            Homoeopathy can hit autoimmunity and starts with better pain relief. It can also help you get rid of painkillers. If treatment continues systemically, it may also help you eliminate steroids and anti-inflammatory drugs, leading to better mobility and quality of life.
          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">
          Homeopathy for Autoimmune diseases
          <i class="bi bi-chevron-down icon-show"></i>
          <i class="bi bi-chevron-up icon-close"></i>
        </div>
        <div id="faq6" class="collapse" data-bs-parent=".faq-list">
          <p>
            Homeopathy has a prospective role in treating autoimmune disease because homeopathy treatment is not only based on the disease symptoms alone but the person's psychological and emotional symptoms are also taken care of. Every individual has trigger factors at their psychological, emotional, physical, or genetic level. Homeopathy treatment finds the root cause of the trigger factors. It treats accordingly, thus helping to bring back the equilibrium of the body's immune system in a natural way to a normal state and thus may help to cure autoimmune diseases.
          </p>
          <p>
            For example, a person having psychological trauma in a past life, like the death of any of their nearest or dearest ones, puts them in a depressive state and, over time, develops irritability and, after a few years, develops Psoriasis. So a homeopath takes the detail of symptoms, not only about the psoriasis symptoms of the person. But their past life event of any psychological trauma and their present irritability. And based on all those symptoms, the medicine is chosen and, if given, can cure the disease. So there is not the same set of drugs for a particular condition that can repeat for every patient.
          </p>
          <p>
            But at the same time, the general management therapy, whatever is required for the patient, should be continued along with homeopathy treatment.
          </p>
        </div>
      </li>

    </ul>

  </div>
