<div class="container" data-aos="fade-up">

  <div class="section-title">
    <h2>Services</h2>
    <p>
      People with all types of illnesses can improve their health with homeopathic treatment. Homeopathy does not treat the disease but the patient as an individual. It has been practiced for about 200 years. It is a gentle, effective, and scientific medicine system that assists the body's natural instinct to heal itself. It recognizes that all symptoms of ill health are expressions of disharmony within the whole person. The individual's inner disease needs to be addressed so that health and vitality can manifest throughout the entire being - literally from the inside out.
    </p>
  </div>

  <div class="row">
    <div class="col-lg-6" data-aos="fade-right">
      <img src="{{url_for('static', filename='store-front/img/about.jpg')}}" class="img-fluid" alt="">
    </div>
    <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
      <h4>Most disorders will respond to homeopathic treatment.</h4>
      <p class="fst-italic fw-bold">
        Listed below are some of the more common conditions -
      </p>
      <ul>
        <li>
          <i class="bi bi-check-circle"></i>
          Recurrent infections, skin conditions, digestive problems, headaches, allergies, joint pain, Osteoarthritis, gallstones, high creatinine, etc.
        </li>
        <li>
          <i class="bi bi-check-circle"></i>
          Pain management of Cancer patients.
        </li>
        <li>
          <i class="bi bi-check-circle"></i>
          All sorts of gynecological problems.
        </li>
        <li>
          <i class="bi bi-check-circle"></i>
          Difficulties with emotions such as stress, depression, grief, anxiety, fear, or anger.
        </li>
        <li>
          <i class="bi bi-check-circle"></i>
          Pre-menstrual, menopause, fertility, and other Hormonal disorders.
        </li>
        <li>
          <i class="bi bi-check-circle"></i>
          Feelings of tiredness, run-down, or discomfort that something is not correct.
        </li>
        <li>
          <i class="bi bi-check-circle"></i>
          Recurrent cold cough, hay fever, asthma, and children's issues.
        </li>
        <li>
          <i class="bi bi-check-circle"></i>
          Autism and ADHD.
        </li>
        <li>
          <i class="bi bi-check-circle"></i>
          Rectal diseases like piles, fistula, anal fissures, etc.
        </li>
      </ul>
    </div>
  </div>

</div>