# Values: 0 - debug, 1 - production, 2 - statging
PRODUCTION=
APP_NAME=
APP_VER=
# 32 bit random string
SECRET_KEY=
STATIC_DIR_PATH=
LOCAL_TIMEZONE=
APP_HOST=
APP_PORT=
# SQLite for Development
SQLITE_DB_NAME=
# MySQL (Production)
DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_NAME=
# MySQL (Staging. i.e. PRODUCTION is 2)
STAGE_DB_USERNAME=
STAGE_DB_PASSWORD=
STAGE_DB_HOST=
STAGE_DB_NAME=
