<div class="row">
  <div class="col">
    <div class="card mb-3">
      <div class="card-header d-flex justify-content-between">
        <span><small>Patient</small> - <b>{{user.fullname}} | {{user.username}}</b></span>
        <a data-bs-toggle="collapse" data-bs-target="#patient-info" aria-expanded="false" href="javascript:void(0)" class="border px-2 text-muted">
          {{render_icon('layout-sidebar')}}
        </a>
      </div>
      <div class="row g-0 collapse show" id="patient-info">
        <div class="col-md-2 text-center">
          <img src="{{user.avatar}}" class="img-fluid rounded-start details-view-avatar" alt="{{user.fullname}}">
        </div>
        <div class="col-md-4">
          <div class="card-body p-1">
            <ul class="list-group list-group-flush">
        
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="small text-muted">Fullname</div>
                  <div>{{user.fullname or "-"}}</div>
                </div>
              </li>
         
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="small text-muted">Date of Birth (Age)</div>
                  <div><small>{{user.dob or "-"}}</small> ({{user.age or "-"}})</div>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="small text-muted">Sex</div>
                  <div>{{user.sex or "-"}}</div>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="small text-muted">Blood Group</div>
                  <div>{{user.blood or "-"}}</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card-body p-1">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="small text-muted">Mobile/Username</div>
                  <div>{{user.username or "-"}}</div>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="small text-muted">Email</div>
                  <div>{{user.email or "-"}}</div>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="small text-muted">Address</div>
                  <div>{{user.address or "-"}}</div>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="small text-muted">Reference</div>
                  <div>{{user.reference or "-"}}</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>