{% extends 'layout/layout.html' %}
{% from 'layout/helper.html' import breadcrumb, case_photo_show_on_modal %}

{% block style %}{% endblock style %}

{% block javascript %}
<script>
  analysis_case_photo_1_preview.onclick = evt => {
    analysis_case_photo_1_photo_on_modal.src = analysis_case_photo_1_preview.src;
  }
  analysis_case_photo_2_preview.onclick = evt => {
    analysis_case_photo_2_photo_on_modal.src = analysis_case_photo_2_preview.src;
  }
  analysis_case_photo_3_preview.onclick = evt => {
    analysis_case_photo_3_photo_on_modal.src = analysis_case_photo_3_preview.src;
  }
  analysis_case_photo_4_preview.onclick = evt => {
    analysis_case_photo_4_photo_on_modal.src = analysis_case_photo_4_preview.src;
  }

  case_photo_1.onchange = evt => {
    const [file] = case_photo_1.files;
    if (file) {
      analysis_case_photo_1_preview.src = URL.createObjectURL(file);
      analysis_case_photo_1_photo_on_modal.src = URL.createObjectURL(file);
    }
  }
  case_photo_2.onchange = evt => {
    const [file] = case_photo_2.files;
    if (file) {
      analysis_case_photo_2_preview.src = URL.createObjectURL(file);
    }
  }
  case_photo_3.onchange = evt => {
    const [file] = case_photo_3.files;
    if (file) {
      analysis_case_photo_3_preview.src = URL.createObjectURL(file);
    }
  }
  case_photo_4.onchange = evt => {
    const [file] = case_photo_4.files;
    if (file) {
      analysis_case_photo_4_preview.src = URL.createObjectURL(file);
    }
  }
</script>
{% endblock javascript %}

{% block title %}Case Analysis{% endblock title %}

{% block breadcrumb %}

{{
  breadcrumb({
    'Patients':  url_for('user_bp.index'), 
    'Patient - ' ~ user.username:  url_for('user_bp.view', username=user.username), 
    'Case Analysis': ''
  }) 
}}
{% endblock breadcrumb %}

{% block pageheader %}
<div class="d-flex justify-content-between flex-wrap align-items-center">
  <div class="h2 mt-1">Case Analysis</div>
  <!-- Example split danger button -->
  <div class="btn-group">
    <a class="btn  btn-outline-dark" href="{{ url_for('user_bp.treatment', username=user.username) }}"> {{render_icon('capsule-pill')}} Treatment</a>
    <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{{ url_for('prescription_bp.create', patient_id=user.id) }}">{{render_icon('journal-plus')}}&nbsp;Add Prescription</a></li>
      <li><a class="dropdown-item" href="{{ url_for('user_bp.index') }}">{{render_icon('card-list')}}&nbsp;Patients</a>
      <li><a class="dropdown-item" href="{{url_for('dashboard_bp.index')}}">{{render_icon('bar-chart')}} Dashboard</a>
    </ul>
  </div>
</div>
{% endblock %}

{% block content %}

{% include 'user/_patient_info.html' %}

<div class="card mb-4">
  <div class="card-header"><b>Case Analysis Notes</b></div>
  <div class="card-body">
    <form method="post" action="{{url_for('user_bp.analysis', username=user.username)}}" method='post' enctype="multipart/form-data" role="form">
      <div class="row">
        <div class="col-md-8">
          {{ form.csrf_token() }}
          {{ render_field(form.analysis) }}
          <hr>
          <button class="btn btn-dark btn-md" id="save" name="save" type="submit" value="Save">
            {{ render_icon('save') }} Save
          </button>
        </div>
        <div class="col-md-4">
          <div class="row pt-4">
            <div class="col">
              {{ render_field(form.case_photo_1) }}
            </div>
            <div class="col text-end">
              <img id="analysis_case_photo_1_preview" src="{{user.case_photo_1}}" class="img-thumbnail thumbnail-case-photo" alt="Case Photo" title="Case Photo" alt="Case Photo" data-bs-toggle="modal" data-bs-target="#analysis_case_photo_1">
            </div>
            <hr>
          </div>
          <div class="row">
            <div class="col">
              {{ render_field(form.case_photo_2) }}
            </div>
            <div class="col text-end">
              <img id="analysis_case_photo_2_preview" src="{{user.case_photo_2}}" class="img-thumbnail thumbnail-case-photo" alt="Case Photo" title="Case Photo" data-bs-toggle="modal" data-bs-target="#analysis_case_photo_2">
            </div>
            <hr>
          </div>
          <div class="row">
            <div class="col">
              {{ render_field(form.case_photo_3) }}
            </div>
            <div class="col text-end">
              <img id="analysis_case_photo_3_preview" src="{{user.case_photo_3}}" class="img-thumbnail thumbnail-case-photo" alt="Case Photo" title="Case Photo" data-bs-toggle="modal" data-bs-target="#analysis_case_photo_3">
            </div>
            <hr>
          </div>
          <div class="row">
            <div class="col">
              {{ render_field(form.case_photo_4) }}
            </div>
            <div class="col text-end">
              <img id="analysis_case_photo_4_preview" src="{{user.case_photo_4}}" class="img-thumbnail thumbnail-case-photo" alt="Case Photo" title="Case Photo" data-bs-toggle="modal" data-bs-target="#analysis_case_photo_4">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{{case_photo_show_on_modal('analysis_case_photo_1',user.fullname, user.case_photo_1)}}
{{case_photo_show_on_modal('analysis_case_photo_2',user.fullname, user.case_photo_2)}}
{{case_photo_show_on_modal('analysis_case_photo_3',user.fullname, user.case_photo_3)}}
{{case_photo_show_on_modal('analysis_case_photo_4',user.fullname, user.case_photo_4)}}
{% endblock content %}