{% extends 'layout/layout.html' %}
{% from 'layout/helper.html' import breadcrumb %}

{% block style %} {% endblock style %}

{% block javascript %} {% endblock javascript %}

{% block title %} Add new Patient {% endblock title %}


{% block breadcrumb %}
{{ breadcrumb({'Patient':  url_for('user_bp.index'), 'Add New': ''} ) }}
{% endblock breadcrumb %}


{% block pageheader %}
Add new Patient
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xl-6 mb-4">
    {{ render_form(form, action=url_for('user_bp.create'), method='post', novalidate=1) }}
  </div>
</div>


{% endblock content %}