{% extends 'layout/layout.html' %}
{% from 'layout/helper.html' import breadcrumb %}

{% block style %} {% endblock style %}

{% block javascript %} {% endblock javascript %}

{% block title %} Edit Patient Info {% endblock title %}


{% block breadcrumb %}
{{ breadcrumb({'Patient':  url_for('user_bp.index'), 'Edit: ' + user.username: ''} ) }}
{% endblock breadcrumb %}


{% block pageheader %}
<div class="d-flex justify-content-between">
  <div class="h2 mb-4 mt-1">Edit Patient Info</div> 
  <div>
    <a class="btn btn-success mt-1" href="{{ url_for('user_bp.view', username=user.username) }}"><i class="fa-solid fa-circle-info"></i>&nbsp;Patient info</a>
    <a class="btn btn-primary mt-1" href="{{ url_for('user_bp.index') }}"><i class="fa-solid fa-users"></i>&nbsp;Patient index</a>
  </div>  
</div>  
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xl-6 mb-4">
    {{ render_form(form, action=url_for('user_bp.edit', username=user.username), method='post', novalidate=1) }}
  </div>
</div>


{% endblock content %}