{% extends 'layout/layout.html' %}
{% from 'layout/helper.html' import breadcrumb %}

{% block title %}Patients{% endblock title %}

{% block breadcrumb %}

{{ breadcrumb({'Patient': 'javascript:void(0)'}) }}
{% endblock breadcrumb %}


{% block pageheader %}
<div class="d-flex justify-content-between">
  <div class="h2 mt-1">Patient Index</div>
  <div>
    <a class="btn btn-primary mt-1" href="{{ url_for('user_bp.create') }}">{{render_icon('person-plus')}}&nbsp;Add new patient</a>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col mb-4">
    <div id="all-user-table"></div>
  </div>
</div>
{% endblock content %}

{% block style %}
<link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
{% endblock style %}

{% block javascript %}
<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
<script>
  const updateUrl = (prev, query) => {
    return prev + (prev.indexOf('?') >= 0 ? '&' : '?') + new URLSearchParams(query).toString();
  };

  new gridjs.Grid({
    className: {
      table: 'table table-striped',
    },
    columns: [{
        id: 'username',
        name: 'Action',
        sort: {
          enabled: false
        },
        formatter: (cell) => gridjs.html(
          `<div class="btn-group btn-group-sm" role="group" aria-label="Action">
            <a class="btn btn-outline-success" href='{{url_for("user_bp.treatment", username="")}}${cell}'>{{render_icon('capsule-pill')}}</a>
            <a class="btn btn-outline-primary" href='{{url_for("user_bp.view", username="")}}${cell}'>{{render_icon('info-circle')}}</a>
            <a class="btn btn-outline-dark" href='{{url_for("conversation_bp.conversation", username="")}}${cell}'>{{render_icon('envelope')}}</a>
          </div>`
        ),
      },
      {
        id: 'fullname',
        name: 'Fullname'
      },
      {
        id: 'username',
        name: 'Username',
      },
      {
        id: 'dob_str',
        name: 'DOB'
      },
      {
        id: 'sex',
        name: 'Sex'
      },
      {
        id: 'active',
        name: 'Active'
      },
    ],
    server: {
      url: '/user/list-all',
      then: results => results.data,
      total: results => results.total,
    },
    search: {
      enabled: true,
      server: {
        url: (prev, search) => {
          return updateUrl(prev, {
            search
          });
        },
      },
    },
    sort: {
      enabled: true,
      multiColumn: true,
      server: {
        url: (prev, columns) => {
          const columnIds = ['username' , 'fullname','username', 'dob', 'sex', 'active'];
          const sort = columns.map(col => (col.direction === 1 ? '+' : '-') + columnIds[col.index]);
          return updateUrl(prev, {
            sort
          });
        },
      },
    },
    pagination: {
      enabled: true,
      server: {
        url: (prev, page, limit) => {
          return updateUrl(prev, {
            start: page * limit,
            length: limit
          });
        },
      },
    },
  }).render(document.getElementById('all-user-table'));
</script>
{% endblock javascript %}