{% extends 'layout/layout.html' %}
{% from 'layout/helper.html' import breadcrumb, case_photo_modal %}

{% block style %} {% endblock style %}

{% block javascript %} {% endblock javascript %}

{% block title %}Patient Treatment{% endblock title %}


{% block breadcrumb %}

{{ breadcrumb({'Patient':  url_for('user_bp.index'), 'Treatment: ' + user.username: ''} ) }}
{% endblock breadcrumb %}

{% block pageheader %}
<div class="d-flex justify-content-between">
  <div class="h2 mt-1">Patient Treatment </div>
  <div>
    <a class="btn btn-success mt-1" href="{{ url_for('user_bp.view', username=user.username) }}">{{render_icon('info-circle')}}&nbsp;Patient info</a>
    <a class="btn btn-primary mt-1" href="{{ url_for('user_bp.edit', username=user.username) }}">{{render_icon('pencil-square')}}&nbsp;Edit patient info</a>
  </div>
</div>
{% endblock %}

{% block content %}

{% include 'user/_patient_info.html' %}
{% include 'user/_patient_analysis.html' %}


<div class="row mb-4">
  <div class="col-md-6">
    {% include 'user/_patient_prescription.html' %}
  </div>
  <div class="col-md-6">
    {% include 'user/_patient_conversation.html' %}
  </div>  
</div>


{% endblock content %}