{% extends 'layout/layout.html' %}
{% from 'layout/helper.html' import breadcrumb %}
{% block style %} {% endblock style %}
{% block javascript %} {% endblock javascript %}

{% block title %}Patient Details{% endblock title %}

{% block breadcrumb %}

{{
  breadcrumb({
    'Patients':  url_for('user_bp.index'), 
    'Patient - ' ~ user.username:  ''

  }) 
}}
{% endblock breadcrumb %}

{% block pageheader %}
<div class="d-flex justify-content-between flex-wrap align-items-center">
  <div class="h2 mt-1">Patient Info</div>
  <div class="btn-group">
    <a class="btn btn-outline-dark" href="{{ url_for('user_bp.treatment', username=user.username) }}">{{render_icon('capsule-pill')}}&nbsp;Treatment</a>
    <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{{ url_for('user_bp.edit', username=user.username) }}">{{render_icon('pencil-square')}}&nbsp;Edit patient info</a></li>
      <li><a class="dropdown-item" href="{{ url_for('user_bp.index') }}">{{render_icon('card-list')}}&nbsp;Patient index</a></li>
    </ul>
  </div>
</div>


{% endblock %}

{% block content %}
{% include 'user/_patient_info.html'   %}
{% include 'user/_patient_status.html'   %}
{% endblock content %}