{% extends 'layout/layout.html' %}
{% from 'layout/helper.html' import breadcrumb %}
{% block style %} {% endblock style %}
{% block javascript %} {% endblock javascript %}

{% block title %}Patient Details{% endblock title %}


{% block breadcrumb %}
{{ breadcrumb({'Patient':  url_for('user_bp.index'), 'View: ' + user.username: ''} ) }}
{% endblock breadcrumb %}

{% block pageheader %}
<div class="d-flex justify-content-between">
  <div class="h2 mt-1">Patient Details </div> 
  <div>
    <a class="btn btn-success mt-1" href="{{ url_for('user_bp.treatment', username=user.username) }}">{{render_icon('capsule-pill')}}&nbsp;Treatment</a>
    <a class="btn btn-primary mt-1" href="{{ url_for('user_bp.edit', username=user.username) }}">{{render_icon('pencil-square')}}&nbsp;Edit patient info</a>
  </div>  
  </div>  
    {% endblock %}

{% block content %}

{% include 'user/_patient_info.html'   %}
{% include 'user/_patient_status.html'   %}




{% endblock content %}