{% extends 'layout/layout.html' %}
{% from 'layout/helper.html' import breadcrumb, case_photo_modal %}

{% block style %}
<link href='{{ url_for('static', filename="css/tom-select.bootstrap5.min.css" ) }}' rel="stylesheet" />
{% endblock style %}

{% block javascript %}
<script src='{{ url_for('static', filename="js/tom-select.base.js" ) }}'></script>
<script>
  new TomSelect("#patient_id", {
    sortField: {
      field: "text",
      direction: "asc"
    }
  });
</script>
{% endblock javascript %}

{% block title %}Add Payment Instruction{% endblock title %}

{% block breadcrumb %}

{{
    breadcrumb({
        'Admin':  url_for('admin_bp.index'), 
        'Payment Tracker': url_for('payment_tracker_bp.instructions'),
        'Add Instruction': ''
      }) 
}}
{% endblock breadcrumb %}

{% block pageheader %}
<div class="d-flex justify-content-between flex-wrap align-items-center">
  <div class="h2 mt-1">Payment Tracker</div>
  <div class="btn-group">
    <a class="btn btn-outline-dark" href="{{ url_for('payment_tracker_bp.instructions') }}">{{render_icon('cash-stack')}}&nbsp;Payment Instructions</a>
    <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{{ url_for('payment_tracker_bp.create') }}">{{render_icon('cash-coin')}} Create New</a>
    </ul>
  </div>
</div>
{% endblock %}

{% block content %}


<div class="row">
  <div class="col">
    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between">
        <span><b>Create Payment Instruction</b></span>
        <a aria-expanded="false" href="javascript:void(0)" class="border px-3 text-muted">
          {{render_icon('layout-sidebar')}}
        </a>
      </div>
      <div class="card-body mb-4 p-3" id="medicine-index">
        {{ render_form(payment_instr_form, action=url_for('payment_tracker_bp.create'), method='post') }}
      </div>
    </div>
  </div>
</div>

{% endblock content %}