{% extends 'layout/layout.html' %}
{% from 'layout/helper.html' import breadcrumb, case_photo_modal %}

{% block style %} {% endblock style %}

{% block javascript %} {% endblock javascript %}

{% block title %}Edit Payment Instruction{% endblock title %}

{% block breadcrumb %}

{{
    breadcrumb({
        'Admin':  url_for('admin_bp.index'), 
        'Payment Tracker': url_for('payment_tracker_bp.instructions'),
        'Edit Instruction # ' ~ paym_instr.id : ''
      }) 
}}
{% endblock breadcrumb %}

{% block pageheader %}
<div class="d-flex justify-content-between flex-wrap align-items-center">
  <div class="h2 mt-1">Payment Tracker</div>
  <div class="btn-group">
    <a class="btn btn-outline-dark" href="{{ url_for('payment_tracker_bp.instructions') }}">{{render_icon('cash-stack')}}&nbsp;Payment Instructions</a>
    <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{{ url_for('payment_tracker_bp.create') }}">{{render_icon('cash-coin')}} Create New</a>
    </ul>
  </div>
</div>
{% endblock %}

{% block content %}


<div class="row">
  <div class="col">
    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between">
        <span><b>Edit Payment Instruction</b></span>
        <a aria-expanded="false" href="javascript:void(0)" class="border px-3 text-muted">
          {{render_icon('layout-sidebar')}}
        </a>
      </div>
      <div class="card-body mb-4 p-3" id="medicine-index">
        <div class="p-1 mb-4 w-md-50">
          <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-dark">Payment Instruction: <b>{{paym_instr.id}}</b></li>
            <li class="list-group-item list-group-item-dark">Patient: <b>{{paym_instr.patient_desc.username}} / {{paym_instr.patient_desc.fullname}}</b></li>
            <li class="list-group-item list-group-item-dark">Created At: <b>{{paym_instr.created_at|local_datetime('d')}}</b></li>
            {% if paym_instr.paid_at %}
            <li class="list-group-item list-group-item-dark">Paid At: <span class="badge bg-success text-bg-primary fw-bold">{{paym_instr.paid_at|local_datetime('d')}}</span></li>
            {% else %}
            <li class="list-group-item list-group-item-dark">Paid At: <span class="badge bg-danger text-bg-primary fw-bold">Unpaid</span></b></li>
            {% endif %}
          </ul>
        </div>
        {{ render_form(payment_instr_edit_form, action=url_for('payment_tracker_bp.edit', id=paym_instr.id), method='post') }}
      </div>
    </div>
  </div>
</div>

{% endblock content %}