{% extends 'layout/layout.html' %}
{% from 'layout/helper.html' import breadcrumb, case_photo_modal %}

{% block style %}
<link href='{{ url_for('static', filename="css/tom-select.bootstrap5.min.css" ) }}' rel="stylesheet" />
{% endblock style %}

{% block javascript %}
<script src='{{ url_for('static', filename="js/tom-select.base.js" ) }}'></script>
<script>
  let paymDeleteForms = document.querySelectorAll('form.paym-instr-delete-form');
  paymDeleteForms.forEach((thisDeleteForm) => {
    thisDeleteForm.addEventListener('submit', (event) => {
      if (!confirm("Are you sure to delete?")) event.preventDefault();
      return;
    });
  });

  new TomSelect("#patient_id", {
    sortField: {
      field: "text",
      direction: "asc"
    }
  });
</script>
{% endblock javascript %}

{% block title %}Payment Tracker{% endblock title %}

{% block breadcrumb %}

{{
  breadcrumb({
    'Admin':  url_for('admin_bp.index'), 
    'Payment Tracker': ''
  }) 
}}
{% endblock breadcrumb %}

{% block pageheader %}
<div class="d-flex justify-content-between flex-wrap align-items-center">
  <div class="h2 mt-1">Payment Tracker</div>
  <div class="btn-group">
    <a class="btn  btn-outline-dark" href="{{ url_for('payment_tracker_bp.create') }}">{{render_icon('cash-coin')}} Create New</a>
    <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{{ url_for('payment_tracker_bp.instructions') }}">{{render_icon('cash-stack')}}&nbsp;Payment Instructions</a>
        <li><a class="dropdown-item" href="{{ url_for('payment_tracker_bp.parameter') }}">{{render_icon('wallet')}}&nbsp;Payment Parameters</a>
    </ul>
  </div>
</div>
{% endblock %}

{% block content %}


<div class="row">
  <div class="col">
    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between">
        <span><b>Payment Instructions</b></span>
        <a data-bs-toggle="collapse" data-bs-target="#payment-instr-card" aria-expanded="false" href="javascript:void(0)" class="border px-3 text-muted">
          {{render_icon('layout-sidebar')}}
        </a>
      </div>
      <div class="card-body collapse show mb-4 p-3" id="payment-instr-card">
        <!-- Filter Title -->
        <div class="row">
          <div class="col">
            <small class="fw-bold">Filter:</small>
            <hr class="mb-0">
          </div>
        </div>
        <!-- Filter Form -->
        {% include 'payment_tracker/_filter_payment.html'   %}
        <!-- divider -->
        <div class="row">
          <div class="col">
            <hr>
          </div>
        </div>
        <!-- table -->
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <table class="table">
                <thead class="table-dark">
                  <tr>
                    <th class="text-nowrap">Actions</th>
                    <th class="text-nowrap">Instruction ID</th>
                    <th class="text-nowrap">Description</th>
                    <th class="text-nowrap">Payment Method</th>
                    <th class="text-nowrap">Patient Notified</th>
                    <th class="text-nowrap">Patient</th>
                    <th class="text-nowrap">Amount</th>
                    <th class="text-nowrap">Payment Status</th>
                    <th class="text-nowrap">Created At</th>
                    <th class="text-nowrap">Paid At</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  {% for paym in payment_instr %}
                  <tr>
                    <td class="text-nowrap">
                      <!-- Payment Status Change -->
                      <form class="d-inline paym-instr-status-form" method="post" action="{{url_for('payment_tracker_bp.change_payment_status', id=paym.id)}}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="return_url" value="{{ return_url }}">
                        <button type="submit" class="btn btn-sm btn-dark font-monospace" href="javascript:void(0)">
                          {% if paym.payment_status %}
                          {{render_icon('hand-thumbs-down')}}Unpaid
                          {% else %}
                          {{render_icon('hand-thumbs-up')}}Paid&nbsp;&nbsp;
                          {% endif %}
                        </button>
                      </form>
                      <!-- Notify Patient -->
                      <form class="d-inline paym-instr-status-form" method="post" action="{{url_for('payment_tracker_bp.change_patient_notification', id=paym.id)}}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="return_url" value="{{ return_url }}">
                        <button type="submit" class="btn btn-sm btn-dark font-monospace" href="javascript:void(0)">
                          {% if paym.visible_to_patient %}
                          {{render_icon('volume-mute')}}Unnotify
                          {% else %}
                          {{render_icon('volume-up')}}Notify&nbsp;&nbsp;
                          {% endif %}
                        </button>
                      </form>
                      <!-- Edit -->
                      <form class="d-inline paym-instr-edit-form" method="post" action="{{url_for('payment_tracker_bp.edit', id=paym.id)}}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="return_url" value="{{ return_url }}">
                        <button type="submit" class="btn btn-sm btn-dark font-monospace" href="javascript:void(0)">
                          {{render_icon('pencil')}}Edit
                        </button>
                      </form>
                      <!-- Delete -->
                      <form class="d-inline paym-instr-delete-form" method="post" action="{{url_for('payment_tracker_bp.delete', id=paym.id)}}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="return_url" value="{{ return_url }}">
                        <button type="submit" class="btn btn-sm btn-danger font-monospace" href="javascript:void(0)">
                          {{render_icon('trash')}}Delete
                        </button>
                      </form>
                    </td>
                    <td class="text-nowrap">{{paym.id}}</td>
                    <td class="text-nowrap">{{paym.payment_description}}</td>
                    <td class="text-nowrap">{{paym.payment_method}}</td>
                    <td class="text-nowrap"><span class="badge rounded-pill bg-{{'info' if paym.visible_to_patient else 'warning'}}">{{'Yes' if paym.visible_to_patient else 'No'}}</span></td>
                    <td class="text-nowrap">{{paym.patient_desc.username}} <br><small>{{paym.patient_desc.fullname}}</small> </td>
                    <td class="text-nowrap">{{paym.amount}}</td>
                    <td class="text-nowrap"><span class="badge rounded-pill bg-{{'success' if paym.payment_status else 'danger'}}">{{'Paid' if paym.payment_status else 'Unpaid'}}</span></td>
                    <td class="text-nowrap">{{paym.created_at|local_datetime('d')}}</td>
                    <td class="text-nowrap">{{paym.paid_at|local_datetime('d') if paym.paid_at else '-'}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-12 mt-4 text-end">
            <p class="small text-muted">Page: {{payment_instr.page}}/{{payment_instr.pages}}. Records: {{payment_instr.items|length}}/{{payment_instr.total}}</p>
            {{ render_pagination(
                payment_instr, 
                align='right',
                args={
                    'id': id,
                    'patient_id': patient_id,
                    'payment_description': payment_description,
                    'payment_status': payment_status,
                    'created_at_start': created_at_start,
                    'created_at_end': created_at_end,
                    'paid_at_start': paid_at_start,
                    'paid_at_end': paid_at_end,
                    'payment_method':payment_method,
                    'visible_to_patient':visible_to_patient
                }) 
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}