<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <!-- Navbar Brand-->
  <a class="navbar-brand ps-3" href="{{ url_for('dashboard_bp.index') }}">{{config.APP_NAME}}</a>
  <!-- Sidebar Toggle-->
  <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">{{render_icon('list')}}</button>
  <!-- Navbar Search-->
  <div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"></div>
  <!-- Navbar-->
  {% if current_user.is_authenticated %}
  <!-- unread message -->
  <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-1">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbarDropdownMsg" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span id="unread-message-menu-color" class="border p-1 rounded-start rounded-end fw-bold"> {{render_icon('envelope-fill')}} <span id="unread-message-menu-count">-</span></span>
      </a>
      <ul id="unread-message-menu-list" class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMsg">

      </ul>
    </li>
  </ul>
  <!-- user menu -->
  <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle fw-bold" id="navbarDropdownUser" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{render_icon('person')}}</a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownUser">
        <li><a class="dropdown-item" href="{{ url_for('auth_bp.change_password') }}">Change my Password</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="{{ url_for('auth_bp.logout') }}">Logout</a></li>
      </ul>
    </li>
  </ul>
  {% endif %}
</nav>