{% extends 'layout/layout_secondary.html' %}
{% block title %}
{{ error.name }}
{% endblock %}
{% block content %}
<div class='row'>
  <div class='col text-center mt-5'>
    <h1>{{ error.code }} - {{ error.name }}</h1>
    <h5>{{ error.description}}</h5>

    <h5 class="mt-5">
      {% if error.code == 401 or error.code == 440 %}
      <a class="btn btn-dark" href='{{ url_for("auth_bp.login") }}'><b>&crarr; Login</b></a>
      {% else %}
      <a class="btn btn-dark" href='{{ url_for("index_bp.index") }}'><b>&crarr; Home</b></a>
      {% endif %}
    </h5>
    {% set img_name = error.code ~ '.svg' %}
    {% set img_url = 'img/error/' ~ img_name %}
    <img src='{{ url_for("static", filename=img_url) }}' alt='{{ error.name }}' class='http_error_handler_img'>
  </div>
</div>
{% endblock content %}