{% macro breadcrumb(breadcrumb_items_dict) -%}
<ol class="breadcrumb mb-2 mt-2">
  {% for key, value in breadcrumb_items_dict.items() %}
  {% if not loop.last %}
  <li class="breadcrumb-item small" ><a class="text-muted" href="{{ value }}"> {{ key|e }} </a></li>
  {% else %}
  <li class="breadcrumb-item active small text-muted"> {{ key|e }} </li>
  {% endif %}
  {% endfor %}
</ol>
{%- endmacro %}


{% macro case_photo_modal(modal_id, patient_name, img_src) -%}
<div class="modal fade" id="{{modal_id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Case Photo - {{patient_name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <img src="{{img_src}}" alt="Case Photo" style="max-width: 800px;">
      </div>
    </div>
  </div>
</div>
{%- endmacro %}

{% macro case_photo_show_on_modal(modal_id, patient_name, img_src) -%}
<div class="modal fade" id="{{modal_id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Case Photo - {{patient_name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <img  id="{{modal_id}}_photo_on_modal" src="{{img_src}}" alt="Case Photo" style="max-width: 800px;">
      </div>
    </div>
  </div>
</div>
{%- endmacro %}


{% macro photo_modal(modal_id, modal_title, cont_source, cont_type='image') -%}
<div class="modal fade" id="{{modal_id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{modal_title}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        {% if cont_type=='image'%}
        <img id="modal_item_of_{{modal_id}}" src="{{cont_source}}" alt="Photo" class='cont_width_max'>
        {% elif cont_type=='video' %}
        <video id="modal_item_of_{{modal_id}}"  class='cont_width_max' controls>
            <source src="{{cont_source}}">
          </video>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{%- endmacro %}