{% from 'bootstrap5/utils.html' import render_icon %}
{% from 'bootstrap5/table.html' import render_table %}
{% from 'bootstrap5/form.html' import render_form %}
{% from 'bootstrap5/form.html' import render_field %}
{% from 'bootstrap5/utils.html' import render_messages %}
{% from 'bootstrap5/nav.html' import render_breadcrumb_item %}
{% from 'bootstrap5/table.html' import render_table %}
{% from 'bootstrap5/pagination.html' import render_pagination %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'layout/_html_header.html' %}
  <!-- Stylesheets start -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pace-js@latest/pace-theme-default.min.css">
  <link href='{{ url_for("static", filename="css/styles.css") }}' rel="stylesheet" />
  <link href='{{ url_for("static", filename="css/custom.css") }}' rel="stylesheet" />
  <!-- Stylesheets end -->
  <title>{{brand.name}} - {% block title %}{% endblock title%}</title>

  {% block style %}{% endblock style %}
</head>

<body class="sb-nav-fixed">
  {% include 'layout/_top_nav.html' %}
  <div id="layoutSidenav">
    <div id="layoutSidenav_nav">
      {% include 'layout/_side_nav.html'   %}
    </div>
    <div id="layoutSidenav_content">
      <main>
        <div class="container-fluid px-4">
          {% block breadcrumb %}{% endblock breadcrumb %}
          <div class="h2 mb-2 mt-1">
            {% block pageheader %}{% endblock pageheader %}
          </div>
          {{ render_messages(dismissible=1,dismiss_animate=1) }}
          {% block content %}{% endblock content%}
        </div>
      </main>
      {% include 'layout/_footer.html' %}
    </div>
  </div>

  {{ bootstrap.load_js() }}
  <script src="https://cdn.jsdelivr.net/npm/pace-js@latest/pace.min.js"></script>
  <script src='{{ url_for("static", filename="js/scripts.js")}}'></script>

  {% block javascript %}{% endblock javascript %}
</body>

</html>