{% extends 'user_home/_layout.html' %}

{% block content %}
<div class="row mb-3">
    <div class="col-12 col-md-6">
      <div class="p-3">
        <a id="__prescription" href="#__home" class="text-decoration-none">Home {{render_icon('arrow-up-circle-fill')}}</a>
      </div>
      {% include 'user_home/_prescription_list.html' %}
    </div>
    <div class="col-12 col-md-6">
      <div class="p-3">
        <a id="__conversation" href="#__home" class="text-decoration-none">Home {{render_icon('arrow-up-circle-fill')}}</a>
      </div>
      {% include 'user_home/_conversation.html' %}
    </div>
  </div>
{% endblock %}

{% block javascript %}
<script>
  let markMessageAsRead = document.querySelectorAll('.markMessageAsRead');
  for (readStatusLink of markMessageAsRead) {
    readStatusLink.addEventListener('click', async (event) => {
      let convId = event.target.dataset.id;
      event.target.parentElement.innerHTML = '';
      unreadMsgcount.innerHTML = parseInt(unreadMsgcount.innerHTML) - 1;
      let api_url = `/user-home/set-conversation-as-read/${convId}`;
      let response = await fetch(api_url);
      let data = await response.text();
    });
  }
</script>
{% endblock javascript %}