{% extends 'user_home/_layout.html' %}
{% block content %}
<main class="flex-shrink-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card mb-3">
          <div class="card-header d-flex justify-content-between">
            <span><b>Change Password</b></span>
            <a data-bs-toggle="collapse" data-bs-target="#patient-change-pwd" aria-expanded="false" href="javascript:void(0)" class="border px-2 text-muted">
              {{render_icon('layout-sidebar')}}
            </a>
          </div>
          <div class="row g-0 collapse show" id="patient-change-pwd">
            <div class="col-12 col-md-6 p-3">
              {{ render_form(form, action=url_for('user_home_bp.change_password'), method='post') }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- container -->
  </div>
</main>
{% endblock content %}