.details-view-avatar {
  max-width: 175px;
  margin-top: 30px;
}

.thumbnail-case-photo {
  max-height: 100px;
  max-width: 100px;
  cursor: pointer;
}

.list-group-prescription{
  max-height: 300px;
  margin-bottom: 10px;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
}

.bi {
  margin-bottom: 4px;
}

.login-header-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.http_error_handler_img {
  max-height: 500px;
}