{% extends 'layout/layout.html' %}
{% from 'layout/helper.html' import breadcrumb %}

{% block style %} {% endblock style %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/frappe-charts@1.2.4/dist/frappe-charts.min.iife.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.1.2/chart.min.js" integrity="sha512-fYE9wAJg2PYbpJPxyGcuzDSiMuWJiw58rKa9MWQICkAqEO+xeJ5hg5qPihF8kqa7tbgJxsmgY0Yp51+IMrSEVg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  const fetchDashboardData = async () => {
    const last_7_dates = () => {
      let last_7_dates = [];
      for (let d = 0; d <= 6; d++) {
        let dt = new Date(Date.now() - d * 24 * 60 * 60 * 1000);
        last_7_dates[last_7_dates.length] = `${String(dt.getFullYear()).padStart(4, '0')}-${String(parseInt(dt.getMonth())+1).padStart(2, '0')}-${String(dt.getDate()).padStart(2, '0')}`;
      }
      return last_7_dates;
    }

    let last_seven_dates = last_7_dates();
    let last_seven_dates_reverse = last_7_dates().reverse()
    let new_patient_last_7_days = await (await fetch('/dashboard/new-patient-last-7-days')).json();
    let new_prescription_last_7_days = await (await fetch('/dashboard/new-prescription-last-7-days')).json();
    let total_patient = await (await fetch('/dashboard/total-patient')).json();
    let total_prescription = await (await fetch('/dashboard/total-prescription')).json();
    let new_patient_today = new_patient_last_7_days[last_seven_dates[0]] ?? 0;
    let new_prescription_today = new_prescription_last_7_days[last_seven_dates[0]] ?? 0;
    newPatientToday.innerHTML = new_patient_today;
    newPrescriptionsToday.innerHTML = new_prescription_today;
    totalPatient.innerHTML = total_patient.count;
    totalPrescriptions.innerHTML = total_prescription.count;
    // ------- charts ------------

    // Chart for Prescriptions Last 7 Days
    let chart_values = []
    for (let d = 0; d < 7; d++) {
      chart_values[chart_values.length] = new_prescription_last_7_days[last_seven_dates_reverse[d]] ?? 0;
    }
    data = {
      labels: last_seven_dates_reverse,
      datasets: [{
        values: chart_values
      }]
    }
    new frappe.Chart("#chartPrescriptionsLast7Days", {
      data: data,
      type: 'bar',
      height: 250,
      colors: ['red']
    });
    // Chart for Prescriptions Last 7 Days
    chart_values = []
    for (let d = 0; d < 7; d++) {
      chart_values[chart_values.length] = new_patient_last_7_days[last_seven_dates_reverse[d]] ?? 0;
    }
    data = {
      labels: last_seven_dates_reverse,
      datasets: [{
        values: chart_values
      }]
    }
    new frappe.Chart("#chartPatientsLast7Days", {
      data: data,
      type: 'bar',
      height: 250,
      colors: ['blue']
    });

  };

  fetchDashboardData()
</script>
{% endblock javascript %}

{% block title %} Dashboard {% endblock title %}


{% block breadcrumb %}

{{
  breadcrumb({
    'Admin':  url_for('admin_bp.index'), 
    'Dashboard': ''
  }) 
}}
{% endblock breadcrumb %}

{% block pageheader %}Dashboard{% endblock pageheader %}

{% block content %}

<div class="row mt-4">
  <div class="col-xl-3 col-md-6">
    <div class="card text-white mb-4">
      <div class="card-header bg-primary">Prescriptions today</div>
      <div class="card-body d-flex align-items-center justify-content-center bg-light text-dark p-4">
        <h3 id="newPrescriptionsToday">Loading...</h3>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card text-white mb-4">
      <div class="card-header bg-warning">New Patient Today</div>
      <div class="card-body d-flex align-items-center justify-content-center bg-light text-dark p-4">
        <h3 id="newPatientToday">Loading...</h3>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card  text-white mb-4">
      <div class="card-header bg-success">Total Prescriptions</div>
      <div class="card-body d-flex align-items-center justify-content-center bg-light text-dark p-4">
        <h3 id="totalPrescriptions">Loading...</h3>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card text-white mb-4">
      <div class="card-header bg-danger">Total Patient</div>
      <div class="card-body d-flex align-items-center justify-content-center bg-light text-dark p-4">
        <h3 id="totalPatient">Loading...</h3>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4 mb-4">
  <div class="col-12 col-md-6 mb-4 mb-mb-0">
    <div class="card">
      <div class="card-header">
        Follow up today
      </div>
      <div class="card-body p-4">
        <ul class="list-group list-group-numbered">
            {% for follow_up in follow_up_today %}
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">{{follow_up.fullname}}</div>
              {{follow_up.username}}
            </div>
            <a href="{{ url_for('prescription_bp.view', prescription_id=follow_up.id) }}"><span class="badge bg-primary rounded-pill">Presc ID # {{'%05d' % follow_up.id}}</span></a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="card">
      <div class="card-header">
        Prescription Last 7 days
      </div>
      <div class="card-body p-4">
        <div id="chartPrescriptionsLast7Days"></div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-4 mb-4">
  <div class="col-12 col-md-6">
    &nbsp
  </div>
  <div class="col-12 col-md-6">
    <div class="card">
      <div class="card-header">
        New Patient Last 7 days
      </div>
      <div class="card-body p-4">
        <div id="chartPatientsLast7Days"></div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}