{% extends 'layout/layout_secondary.html' %}

{% block style %}

{% endblock style %}

{% block javascript %} {% endblock javascript %}

{% block title %}Home{% endblock title %}

{% block content %}


<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <header class="pb-3 mb-4 mt-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <img style="width: 35px;" class="me-2" src="{{url_for('static', filename='/img/favicon/android-chrome-192x192.png')}}" alt="">
        <span class="fs-4">{{config.APP_NAME}}</span>
      </a>
    </header>

    <div class="d-flex flex-row justify-content-center mb-3">
      <div class="card mb-3" style="max-width: 750px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{url_for('static', filename='/img/logo.png')}}" class="img-fluid rounded-start" alt="Logo">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h1 class="card-title">{{config.APP_NAME}}</h1>
              <h3 class="card-text">Patient Case Management system.</h3>
              <p class="card-text">We are part of you and so we ensure you get the best medical care from us again and again...</p>
            </div>
          </div>
        </div>
        
          <div class="card-footer">
            <div class="row g-0">
          <div class="col-6 d-grid p-2">
          <a class="btn btn-danger text-uppercase fw-bold" href="{{url_for('user_home_bp.index')}}">Patient</a>
        </div>
        <div class="col-6 d-grid p-2">
          <a class="btn btn-dark text-uppercase fw-bold" href="{{url_for('dashboard_bp.index')}}">Doctor</a>
        </div>
      </div>
        </div>
        </div>
      </div>
    </div>

  </div>
</main>


{% include '/layout/_footer.html'   %}
{% endblock content %}
 