{% extends 'layout/layout.html' %}
{% from 'layout/helper.html' import breadcrumb %}

{% block style %} {% endblock style %}

{% block javascript %} {% endblock javascript %}

{% block title %} Change Patient's Password {% endblock title %}


{% block breadcrumb %}

{{
  breadcrumb({
    'Patients':  url_for('user_bp.index'), 
    'Patient - ' ~ user.username:  url_for('user_bp.view', username=user.username), 
    'Change Password': ''
  }) 
}}
{% endblock breadcrumb %}

{% block pageheader %}
<div class="d-flex justify-content-between flex-wrap align-items-center">
  <div class="h2 mt-1">Change Patient's Password</div>
  <!-- Example split danger button -->
  <div class="btn-group">
    <a class="btn  btn-outline-dark mt-1 mt-md-0" href="{{ url_for('user_bp.view', username=user.username) }}">{{render_icon('info-circle')}}&nbsp;Patient info</a>
    <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{{ url_for('user_bp.index') }}">{{render_icon('card-list')}}&nbsp;Patient index</a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block content %}
{% include 'user/_patient_info.html' %}
<div class="card mb-4">
  <div class="card-header d-flex justify-content-between">
    <span><b>Change patient's password</b></span>
    <a data-bs-toggle="collapse" data-bs-target="#patient-pwd-change" aria-expanded="false" href="javascript:void(0)" class="border px-2 text-muted">
      {{render_icon('layout-sidebar')}}
    </a>
  </div>
  <div class="card-body p-3 collapse show" id="patient-pwd-change">
    {{ render_form(pwd_form, action=url_for('auth_bp.change_password_on_behalf', username=user.username), method='post') }}
  </div>
</div>
{% endblock content %}