{% extends 'layout/layout.html' %}
{% from 'layout/helper.html' import breadcrumb, case_photo_modal %}

{% block style %} {% endblock style %}

{% block javascript %} {% endblock javascript %}

{% block title %}Add Medicine{% endblock title %}

{% block breadcrumb %}

{{
  breadcrumb({
    'Admin':  url_for('admin_bp.index'), 
    'Medicine': url_for('medicine_bp.index'),
    'Add New': '',
  }) 
}}
{% endblock breadcrumb %}

{% block pageheader %}
<div class="d-flex justify-content-between flex-wrap align-items-center">
    <div class="h2 mt-1">Add Medicine</div>
    <!-- Example split danger button -->
    <div class="btn-group">
      <a class="btn  btn-outline-dark" href="{{url_for('medicine_bp.index')}}">{{render_icon('capsule-pill')}}Medicine Index</a>
      <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{{ url_for('user_bp.index') }}">{{render_icon('card-list')}}&nbsp;Patients</a>
            <li><a class="dropdown-item" href="{{url_for('dashboard_bp.index')}}">{{render_icon('bar-chart')}} Dashboard</a>
      </ul>
    </div>
  </div>
{% endblock %}

{% block content %}


<div class="row">
  <div class="col">
    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between">
        <span><b>Add Medicine</b></span>
        <a aria-expanded="false" href="javascript:void(0)" class="border px-3 text-muted">
          {{render_icon('layout-sidebar')}}
        </a>
      </div>
      <div class="card-body mb-4 p-3" id="medicine-index">
        {{ render_form(form, action=url_for('medicine_bp.create'), method='post') }}
      </div>
    </div>
  </div>
</div>

{% endblock content %}