{% extends 'layout/layout.html' %}
{% from 'layout/helper.html' import breadcrumb, case_photo_modal %}

{% block style %} {% endblock style %}

{% block javascript %} {% endblock javascript %}

{% block title %}Add New Prescription{% endblock title %}


{% block breadcrumb %}

{{ breadcrumb({'Patient':  url_for('user_bp.index'), 'New prescription: ' + user.username: ''} ) }}
{% endblock breadcrumb %}

{% block pageheader %}
<div class="d-flex justify-content-between">
  <div class="h2 mt-1">New Prescription</div>
  <div>
    <a class="btn btn-success mt-1" href="{{ url_for('user_bp.view', username=user.username) }}"><i class="fa-solid fa-circle-info"></i>&nbsp;Patient info</a>
    <a class="btn btn-primary mt-1" href="{{ url_for('user_bp.edit', username=user.username) }}"><i class="fa-solid fa-user-pen"></i>&nbsp;Edit patient info</a>
  </div>
</div>
{% endblock %}

{% block content %}

{% include 'user/_patient_info.html' %}




<div class="card mb-4">
  <div class="card-header d-flex justify-content-between">
    <span><b>Prescription</b></span>
    <a data-bs-toggle="collapse" data-bs-target="#patient-prescription" aria-expanded="false" href="javascript:void(0)" class="border px-3 text-muted">
      {{render_icon('distribute-vertical')}}
    </a>
  </div>
  <div class="row g-0 collapse show" id="patient-prescription">
    <div class="col p-3">
    {{ render_form(form, action=url_for('prescription_bp.create', patient_id=user.id), method='post', novalidate=1) }}
    </div>
  </div>
</div>


{% endblock content %}