{% extends 'layout/layout.html' %}
{% from 'layout/helper.html' import breadcrumb, case_photo_modal %}

{% block style %} 
<link href='{{ url_for("static", filename="css/tribute.css") }}' rel="stylesheet" />
{% endblock style %}

{% block javascript %} 
<script src='{{ url_for("static", filename="js/tribute.js")}}'></script>
<script src='{{ url_for("static", filename="js/search_medicine.js")}}'></script>
<script>
  tribute.attach(document.getElementById("prescription"));
</script>
{% endblock javascript %}

{% block title %}Edit Prescription{% endblock title %}


{% block breadcrumb %}

{{ breadcrumb({'Patient':  url_for('user_bp.index'), 'Edit prescription: ' ~ prescription.id : ''} ) }}
{% endblock breadcrumb %}

{% block pageheader %}
<div class="d-flex justify-content-between flex-wrap">
  <div class="h2 mt-1">Edit Prescription</div>
  <div>
    <a class="btn btn-outline-success mt-1 mt-md-0" href="{{ url_for('user_bp.treatment', username=user.username) }}">{{render_icon('capsule-pill')}}&nbsp;Treatment</a>
    <a class="btn btn-outline-dark mt-1 mt-md-0" href="{{ url_for('user_bp.index', username=user.username) }}">{{render_icon('info-circle')}}&nbsp;Patient info</a>
    <a class="btn btn-outline-dark mt-1 mt-md-0" href="{{ url_for('user_bp.index') }}">{{render_icon('card-list')}}&nbsp;Patient index</a>
  </div>
</div>
{% endblock %}

{% block content %}

{% include 'user/_patient_info.html' %}




<div class="card mb-4">
  <div class="card-header d-flex justify-content-between">
    <span><b>Prescription</b></span>
    <a data-bs-toggle="collapse" data-bs-target="#patient-prescription" aria-expanded="false" href="javascript:void(0)" class="border px-3 text-muted">
      {{render_icon('distribute-vertical')}}
    </a>
  </div>
  <div class="row g-0 collapse show" id="patient-prescription">
    <div class="col p-3">
    {{ render_form(form, action=url_for('prescription_bp.edit', prescription_id=prescription.id), method='post') }}
    </div>
  </div>
</div>


{% endblock content %}