<!DOCTYPE html>
<html lang="en">

<head>
{% include 'layout/_html_header.html'   %}
  <title>Prescription</title>
</head>
<style>
  * {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    font-size: 13px;
  }

  p {
    padding: 2px;
    margin: 2px;
    line-height: 1.4;
  }
</style>

<body>
  <br>
  <br>
  <br>
  <br>
  <p style="text-align: right;">
    <img src="/static/img/logo/logo.png" alt="" style="width:60px;float:left">
    <br>
    Prescription ID <b>#{{'%05d' %prescription.id}}</b>
    <br>
    Date: {{prescription.created_at|local_datetime('dd')}}
  </p>
  <hr>
  <p style="float: left;">
    Patient Name: <b>{{prescription.patient_desc.fullname}}</b>
    <br>
    Age: {{prescription.patient_desc.age or "-"}}
    <br>
    Sex: {{prescription.patient_desc.sex}}
    <br>
    Blood Group: {{prescription.patient_desc.blood}}
  </p>
  <p style="float: right; text-align:left;">
    Mobile/Username: {{prescription.patient_desc.username}}
    <br>
    Email: {{prescription.patient_desc.email or "-"}}
    <br>
    Reference: {{prescription.patient_desc.reference or "-"}}
  </p>
  <p style="clear:both;">
    Address: {{prescription.patient_desc.address or "-"}}
  </p>
  <hr>
  <h3>Rx</h3>
  <p>
    {{prescription.to_dict()['prescription']|safe}}
  </p>
  <br>
  <br>
  <hr>
  <h4>
    Follow up date: {{prescription.follow_up_date|local_datetime('dd') }}
  </h4>
  <hr>
  <br>
  <br>
  <br>
  <p>
    ----
    <br>
    {{prescription.author_desc.fullname}}
   </p>
  <br>
  <p>
   &bull; This is a computer-generated document. No signature is required.
  </p>
</body>

</html>