{% extends 'layout/layout.html' %}
{% from 'layout/helper.html' import breadcrumb, photo_modal %}

{% block style %} {% endblock style %}

{% block javascript %} {% endblock javascript %}

{% block title %}Add New Prescription{% endblock title %}


{% block breadcrumb %}

{{ breadcrumb({'Patients':url_for('user_bp.index'), 'Patient Treatment: ' + user.username:  url_for('user_bp.treatment', username=user.username), 'Prescription: ' ~ '%05d' % prescription.id :''} ) }}
{% endblock breadcrumb %}

{% block pageheader %}
<div class="d-flex justify-content-between flex-wrap align-items-center">
    <div class="h2 mt-1">View Prescription</div>
    <!-- Example split danger button -->
    <div class="btn-group">
      <a class="btn  btn-outline-dark" href="{{ url_for('user_bp.treatment', username=user.username) }}"> {{render_icon('capsule-pill')}} Treatment</a>
      <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{{ url_for('user_bp.view', username=user.username) }}"> {{render_icon('info-circle')}} Patient info</a></li>
        <li><a class="dropdown-item" href="{{ url_for('user_bp.index') }}">{{render_icon('card-list')}}&nbsp;Patient index</a></li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block content %}

{% include 'user/_patient_info.html' %}


<div class="row">
  <div class="col">
    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between">
        <span><b>Prescription</b></span>
        <a data-bs-toggle="collapse" data-bs-target="#patient-prescription" aria-expanded="false" href="javascript:void(0)" class="border px-3 text-muted">
          {{render_icon('layout-sidebar')}}
        </a>
      </div>
      <div class="row g-0 collapse show mb-4" id="patient-prescription">
        <div class="col-12 p-3">
          <h1 class="h5">Rx</h1>
        </div>

        <div class="col-12 p-3">
          {{prescription.prescription|safe}}
        </div>
        <div class="col-12 p-3">
          Follow up date: <b>{{prescription.follow_up_date|local_datetime('dd') }}</b>
        </div>

      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col">
    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between">
        <span><b>Note/Outcome/Effect/Observation</b></span>
        <a data-bs-toggle="collapse" data-bs-target="#patient-prescription-outcome" aria-expanded="false" href="javascript:void(0)" class="border px-3 text-muted">
          {{render_icon('layout-sidebar')}}
        </a>
      </div>
      <div class="row g-0 collapse show mb-4" id="patient-prescription-outcome">
        <div class="col-12 p-3">
          {{prescription.note|safe}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12 px-3 text-center text-md-start">
    <hr>
    <a class="btn btn-dark mt-1" href="{{ url_for('prescription_bp.edit', prescription_id=prescription.id) }}">{{render_icon('pencil-square')}} &nbsp;Edit</a>
    <a target="_blank" class="btn btn-secondary mt-1" href="{{ url_for('prescription_bp.print_view', prescription_id=prescription.id) }}">{{render_icon('printer')}} &nbsp;Print</a>
  </div>
</div>


<div class="row">
  <div class="col">
    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between">
        <span><b>Parcel</b></span>
        <a data-bs-toggle="collapse" data-bs-target="#patient-parcel" aria-expanded="false" href="javascript:void(0)" class="border px-3 text-muted">
          {{render_icon('layout-sidebar')}}
        </a>
      </div>
      <div class="row g-0 collapse show mb-4" id="patient-parcel">
        <div class="col-md-6 p-3">
          <div class="text-center mt-2">
            <img src="{{prescription.parcel_photo_1}}" class="img-thumbnail thumbnail-parcel-photo" alt="Case Photo" title="Click to Enlarge" data-bs-toggle="modal" data-bs-target="#_parcel_photo_1">
            <hr class="mt-5">
            <span>Parcel Date: <b>{{prescription.parcel_date_1 or "Not Entered"}}</b></span>
          </div>
        </div>
        <div class="col-md-6 p-3 mt-2 border-md-left">
          <b>Upload Parcel photo</b>
          <hr>
          {{ render_form(parcel_form, action=url_for('prescription_bp.parcel_photo_upload', prescription_id=prescription.id), method='post') }}
        </div>
      </div>
    </div>
  </div>
</div>
{{photo_modal(modal_id='_parcel_photo_1', modal_title='Percel of Presc #' ~ '%05d' % prescription.id, cont_source=prescription.parcel_photo_1)}}
{% endblock content %}