{% extends 'layout/layout.html' %}
{% from 'layout/helper.html' import breadcrumb, case_photo_modal %}

{% block style %} {% endblock style %}

{% block javascript %} {% endblock javascript %}

{% block title %}Add New Prescription{% endblock title %}


{% block breadcrumb %}

{{ breadcrumb({'Patient':  url_for('user_bp.index'), 'New prescription: ' + user.username: ''} ) }}
{% endblock breadcrumb %}

{% block pageheader %}
<div class="d-flex justify-content-between">
  <div class="h2 mt-1">View Prescription</div>
  <div>
    <a class="btn btn-success mt-1" href="{{ url_for('user_bp.view', username=user.username) }}">{{render_icon('info-circle')}}&nbsp;Patient info</a>
    <a class="btn btn-primary mt-1" href="{{ url_for('user_bp.edit', username=user.username) }}">{{render_icon('pencil-square')}}&nbsp;Edit patient info</a>
  </div>
</div>
{% endblock %}

{% block content %}

{% include 'user/_patient_info.html' %}


<div class="row">
  <div class="col">
    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between">
        <span><b>Prescription</b></span>
        <a data-bs-toggle="collapse" data-bs-target="#patient-prescription" aria-expanded="false" href="javascript:void(0)" class="border px-3 text-muted">
          {{render_icon('layout-sidebar')}}
        </a>
      </div>
      <div class="row g-0 collapse show mb-4" id="patient-prescription">
        <div class="col-12 p-3">
          <h1 class="h5">Rx</h1>
        </div>

        <div class="col-12 p-3">
          {{prescription.prescription|safe}}
        </div>
        <div class="col-12 p-3">
          Follow up date: <b>{{prescription.follow_up_date|local_datetime('dd') }}</b>
        </div>
        <div class="col-12 px-3 text-center text-md-start">
          <hr>
          <a class="btn btn-dark mt-1" href="{{ url_for('prescription_bp.edit', prescription_id=prescription.id) }}">{{render_icon('pencil-square')}} &nbsp;Edit</a>
          <a class="btn btn-secondary mt-1" href="{{ url_for('prescription_bp.print_view', prescription_id=prescription.id) }}">{{render_icon('printer')}} &nbsp;Print</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}